html {
  overflow-y: scroll;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: cyan;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  background-color: darkgrey;
}

header {
  display: flex;
  justify-content: center;  
  align-items: center;

  width: 100%;
  padding: 4px 10px 5px 10px;

  text-align: center;
  font-weight: 600;
  color: white;

  background-color: blue;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;

  flex: auto;
  background-color: yellow;

  gap: 10px;
}

.buttonWrapper {
  display: flex;
  gap: 20px;
}

button {
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 4px 15px 6px 15px;
  text-align: center;
  color: white;

  border: 2px solid white;
  border-radius: 4px;
  background-color: grey;

  transition: all 0.3s;
}

button:hover {
  color: white;
  background-color: blue;
}

footer {
  width: 100%;
  padding: 4px 10px 5px 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: white;

  background-color: green;
}
